<div class="container mt-3">
    <h2 class="d-flex justify-content-center">Redigera bok</h2>
    <form *ngIf="editingBook" (ngSubmit)="onEditSubmit()" #editForm="ngForm">
      <div class="mb-3">
        <label for="title" class="form-label">Titel:</label>
        <input type="text" name="title" [(ngModel)]="editingBook.title" required class="form-control" placeholder="Titel">
      </div>
  
      <div class="mb-3">
        <label for="author" class="form-label">Författare:</label>
        <input type="text" name="author" [(ngModel)]="editingBook.author" required class="form-control" placeholder="Författare">
      </div>
  
      <div class="mb-3">
        <label for="publishedYear" class="form-label">Publiceringsår:</label>
        <input type="text" name="publishedYear" [(ngModel)]="editingBook.publishedYear" required pattern="\d{4}" class="form-control" placeholder="Publiceringsår">
      </div>
  
      <button type="submit" class="btn btn-primary">Uppdatera bok</button>
      <button (click)="goBack()" class="btn btn-secondary">Gå tillbaka</button>
    </form>
  </div>
  