<div>
  <nav>
    <ul>
      <li>
        <button class="btn btn-secondary mt-3" (click)="toggleDarkMode()">
          <ng-container *ngIf="isDarkMode; else lightModeIcon">
            <i class="fas fa-moon"></i>
          </ng-container>
          <ng-template #lightModeIcon>
            <i class="fas fa-sun"></i>
          </ng-template>
        </button>
      </li>
      <li>
        <a routerLink="/books" *ngIf="authService.isAuthenticated()">Böcker</a>
      </li>
      <li>
        <a routerLink="/my-quotes" *ngIf="authService.isAuthenticated()"
          >Mina citat</a>
      </li>
      <li>
        <a (click)="logout()">Logga ut</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
